<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2 shadow">
    <div class="container-fluid">

      <a class="navbar-brand" href="#"><img width="70" alt="logo" src="assets/img/aflaclogo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" routerLink='/about' routerLinkActive="active">About</a>
          <a class="nav-link" routerLink='/contact' routerLinkActive="active">Contact</a>
          <a class="nav-link btn" routerLink='/login' routerLinkActive="active"><i class='text-white fas fa-user'></i> Login</a>
          <!--placeholder for registration link at the min - will relocate later -->
          <a class="nav-link btn ms-4" routerLink='/register' routerLinkActive="active"><i class='text-white fas fa-user-plus'></i> Register</a> |
        </div>
      </div>
    </div>
  </nav>


  
