.btn{
    background-color: #00A7E1;
    color: #F7FDFF;
    font-weight: 500;
    padding: 8px;
  }

  .btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}