<main>
    <div class="container text-center" id="home-container">
  
      <h1 class="title mt-4">Welcome to Marbled Duck Claims</h1>
  
      <div class="img-container">
        <img width="300" alt="Duck" src="assets/img/aflacduck2.png">
      </div>
  
      <h4 class="text-center my-4">I hope you haven’t quacked any bones!</h4>
      <h6>Click the button below to make a claim.</h6>
  
      <button class="btn mx-auto mt-3">Start claim</button>
  
    </div>
  </main>

  <!-- footer -->
<app-footer></app-footer>
