.btn{
    background-color: #00A7E1;
    color: #F7FDFF;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    font-size: 1rem;
    font-weight: 500;
  }

  .reg-btn{
    background-color: orange;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
  }

  .reg-div{
    text-align: center;
  }

  main{
    min-height:100vh;
    padding-bottom: 25px;
    padding-top: 30px;
    color: #333;
  }

  #home-container{
    width:80%;
    margin:auto;
  }
  
  .img-container{
    padding-top: 10%;
    margin: auto;
  }

  header{
    padding-top: 5%;
  }

  h1{
    font-size: 4rem;
    font-weight: 700;
  }