<main class="container-fluid">

    <header>
        <div style="width: 50%; float: left;">
        <h1 class="header-title">Welcome back </h1>
        </div>
    
        <div class="img-container">
          <img width="200" alt="Duck" src="assets/img/aflacduck1.png">
        </div>
    </header>

    <div class="login-container">
        <div class="login-register">
            <h1 class="mb-3">Login</h1>

            <form class="form-group mt-4">
                <label for="username" class="mt-4">Username</label>
                <input type="text" name="username" id="username" placeholder="username" [(ngModel)]="username">
                <br>
                <label for="password" class="mt-4">Password</label>
                <input type="password" name="password" id="password" placeholder="password" [(ngModel)]="password">
                <br>
                <button class="btn mt-3" id="login-submit" (click)="logIn()">Login</button>
                <h5 class="error-msg mt-3">{{loginStatus}}</h5>
            </form>

        </div>
    </div>

</main>

<!--footer-->
<app-footer></app-footer>