<section>

    <h2>My claims</h2>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
          </tr>
        </thead>

        <tbody>
          <!-- <tr *ngFor="let entry of claimEntries">
            <th scope="row">{{ entry.item }}</th>
            <td>{{entry.date}}</td>
            <td>{{entry.type}}</td>
            <td>{{entry.status}}</td>
            <td><a routerLink="../claims/detail/{{entry.id}}">View</a></td>
          </tr>     -->
          <tr>
            <th></th>
            <td>07/10/2021</td>
            <td>Accident</td>
            <td>Pending</td>
            <td><a>View</a></td>
          </tr>  
        </tbody>
      </table>

</section>
